@import 'tailwindcss';

:root {
  --primary: #FF6900;
  --secondary: #666666;
  --danger: #EF4444;
  --primary-hover: #de5d02;
}

.bg-primary {
  background-color: rgb(255 105 0);
}

.text-primary {
  color: rgb(255 105 0);
}

.text-primary-hover {
  color: rgb(222 93 2);
}

.bg-primary-hover {
  background-color: rgb(222 93 2);
}

.ring-primary {
  --tw-ring-color: rgb(255 105 0);
}

.border-primary {
  border-color: rgb(255 105 0);
}

.bg-secondary {
  background-color: rgb(102 102 102);
}

.text-secondary {
  color: rgb(102 102 102);
}

.bg-danger {
  background-color: rgb(239 68 68);
}

.text-danger {
  color: rgb(239 68 68);
}

.border-danger {
  border-color: rgb(239 68 68);
}

/* Input focus - Solo focus y border */
input:focus {
  outline: none;
  border-color: rgb(102 102 102);
  box-shadow: 0 0 0 3px rgba(255, 106, 0, 0.023);
}

.btn-primary:hover {
  background-color: rgb(222 93 2);
}

.btn-primary:disabled {
  background-color: rgb(255 165 0);
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(255, 105, 0, 0.1), 0 0 0 5px rgb(255, 105, 0);
}
.bg-primary-hover:hover {
  background-color: rgb(222 93 2);
}

.bg-primary-light {
  background-color: rgba(255, 105, 0, 0.1);
}